QGroundControl.AppImage

ORB_SLAM3_files/*
!ORB_SLAM3_files/ORB_SLAM3/
ORB_SLAM3_files/ORB_SLAM3/*
!ORB_SLAM3_files/ORB_SLAM3/webcam/
!ORB_SLAM3_files/ORB_SLAM3/build.sh
!ORB_SLAM3_files/ORB_SLAM3/CMakeLists.txt
ORB_SLAM3_files/ORB_SLAM3/webcam/exec.log
ORB_SLAM3_files/ORB_SLAM3/webcam/point_cloud.json

px4_msgs_ws/

PX4-Autopilot/
# Now its on gz/ folder so this is not needed anymore, but we want to keep it around for a while before we delete it permanently
# PX4-Autopilot/*
# !PX4-Autopilot/Tools/
# PX4-Autopilot/Tools/*
# !PX4-Autopilot/Tools/simulation/
# PX4-Autopilot/Tools/simulation/*
# !PX4-Autopilot/Tools/simulation/gz/

# Unused files that we want to keep around for a while before we delete them permanently
trash/